parameters:
    level: max
    paths:
        - app
    ignoreErrors:
    excludePaths:
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    includes:
        - phpstan-baseline.neon
